name: Deploy Builds

on:
  release:
    types: [ released ]
  push:
    tags:
      - 'v*.*.*rc*'  # for testing releases
      - 'v*.*.*dev*'  # for testing releases

jobs:
  test:  # Copied from pytest.yml
    name: pytest with coverage
    runs-on: ubuntu-latest

    steps:
    - name: Set up Python 3.8
      uses: actions/setup-python@v3
      with:
        python-version: 3.8

    - name: clone sorunlib
      uses: actions/checkout@v2

    - name: Lint with flake8
      run: |
        pip3 install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 ./src/ --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 ./src/ --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Install sorunlib
      run: |
        pip3 install -e .[tests]

    # Unit Tests
    - name: Run unit tests
      working-directory: ./tests
      run: |
        COVERAGE_FILE=.coverage.unit python3 -m pytest --cov sorunlib

    # Coverage
    - name: Report test coverage
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        mv ./tests/.coverage.* ./
        pip install coveralls
        coverage combine
        coverage report
        coveralls --service=github

  wheel:
    name: build and deploy to PyPI
    needs: test
    runs-on: ubuntu-latest
    env:
      TWINE_USERNAME: __token__
      TWINE_PASSWORD: ${{ secrets.TWINE_TOKEN }}

    steps:
    - name: Set up Python 3.8
      uses: actions/setup-python@v3
      with:
        python-version: 3.8

    - name: clone sorunlib
      uses: actions/checkout@v2

    - name: install build dependencies
      run: |
        python3 -m pip install --upgrade build twine

    - name: build wheel
      run: |
        python3 -m build

    - name: find wheel
      id: find
      run: |
        WHEEL_FILE=$(ls dist/*.whl)
        echo "::set-output name=wheel::${WHEEL_FILE}"

    - name: install wheel
      run: |
        python3 -m pip install ${{ steps.find.outputs.wheel }}[tests]

    - name: Run unit tests
      working-directory: ./tests
      run: |
        python3 -m pytest

    - name: upload to PyPI
      run: |
        python3 -m twine upload dist/*
